/* NAVBAR */

.navbar {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 2; /* Ensure the navbar is above the background image */
}

.navbar-toggler {
    z-index: 3; /* Ensure the toggler is above the navbar */
}

.navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #00000000; /* Adjust background color for mobile menu */
    z-index: 4; /* Increase z-index to ensure the collapsed menu is above other elements */
}

.navbar-home { 
    background-color: #0000007d;
    transition: background-color 0.5s ease;
    position: absolute;
    width: 100%;
    z-index: 10;
}

/* HOME PAGE */

#hero {
    width: 100%;
    height: 100vh;
    background: url('../images/samantha-cello-1.webp') top center no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    z-index: -1;
}

/* changes bg img on medium and small screens */
@media screen and (max-width: 992px) {
    #hero {
        width: 100%;
        height: 100vh;
        background: url('../images/samantha-cello-forehead.webp') top center no-repeat;
        background-size: cover;
        background-attachment: scroll;
        position: relative;
        z-index: -1;
    }
}

.about-img-container {
    max-width: 100%;
    height: 600px;
    overflow: hidden;
}

.about-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.img-gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img {
    width: 250px; 
    height: 250px;
    object-fit: cover; 
    cursor: pointer;
    transition: transform 0.3s;
    margin: 0 auto;
}

.img-gallery img:hover {
    transform: scale(1.1); /* Zoom in by 10% */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
    object-fit: cover; 
}


.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 1000px;
}

.full-img span { 
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
