{% extends "base.html" %}
    {% block content %}

    <main>
        <article>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 p-0 position-relative"> <!-- Add position-relative class to the column -->
                        <div class="image-banner">
                            <img src="{{ url_for('static', filename='images/samantha-blue-outfit-smile.webp') }}" alt="Serenade Strings Musicians">

                            <div class="overlay-content"> <!-- Create a container for the overlay content -->
                                <h2>About Serenade Strings</h2>
                                <p>Luxury Modern Wedding String Quartet in Cardiff and London</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 text-center p-5">
                        <h3>Luxury Modern Wedding Cellist in Cardiff and London</h3>
                    </div>
                </div>
            </div>
            <div class="container pb-3">
                {% for section in about_data %}
                    <div class="row align-items-center">
                        {% if loop.index % 2 == 1 %}
                            <!-- Title on left, content on right for odd-indexed items (1-based index) -->
                            <div class="col-12 col-md-6 order-md-1">
                                <h2 class="text-md-center">{{ section.title }}</h2>
                            </div>
                            <div class="col-12 col-md-6 order-md-2">
                                <p class="text-md-start">{{ section.content }}</p>
                            </div>
                        {% else %}
                            <!-- Title on right, content on left for even-indexed items (1-based index) -->
                            <div class="col-12 col-md-6 order-md-2">
                                <h2 class="text-md-center">{{ section.title }}</h2>
                            </div>
                            <div class="col-12 col-md-6 order-md-1">
                                <p class="text-md-start">{{ section.content }}</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </article>
        <article>
            <div class="container my-5">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 mb-4 mb-md-0">
                        <h2 class="text-center text-md-start">An Aderyn Strings Act</h2>
                        <p class="lead">
                            Samantha is proud to be a part of the Aderyn Strings family, a renowned ensemble known for its exquisite performances. Established in 2013, the Aderyn String Quartet has delighted audiences with their exceptional musicianship and diverse repertoire. Whether it's a wedding, corporate event, or private gathering, Aderyn Strings brings a touch of elegance and sophistication to every occasion.
                        </p>
                        <p>
                            With a commitment to creating unforgettable musical experiences, the quartet's talented musicians work closely with clients to curate a personalized selection of pieces that enhance the atmosphere of any event. Their passion for live music shines through in every performance, making Aderyn Strings a favorite choice for celebrations across the UK and beyond.
                        </p>
                        <a href="https://aderynstringquartet.com" class="btn btn-primary">Visit Aderyn Strings Website</a>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="text-center">
                            <img src="{{ url_for('static', filename='images/logos/aderyn-strings-round.png') }}" alt="Aderyn Strings Logo" class="img-fluid rounded-circle aderyn-strings-round-logo">
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </article>
    </main>
    {% endblock %}