{% extends "base.html" %}
    
  {% block content %}
    <main>
        <!-- callout -->
        <section>
            <div class="container-fluid callout-container">
                <div class="opaque-overlay">&nbsp;</div>
                <div class="row">
                    <div class="col-12">
                        <div class="callout text-center text-white rounded jumbotron">
                            <h1 class="jumbotron-header logo-font text-white">Samantha Cello</h1>
                            <p>Subtitle</p>
                            <a href="contact.html" class="btn btn-lg btn-success">Get a free quote!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- videos --> 
        <section>
            <div class="container">
                    <div class="row pt-5 pb-3">
                        <!-- Loaded Video Column (Full width on small screens) -->
                        <div class="col-12 col-lg-8 mb-4 mb-md-0">
                            <div id="loadedVideo"></div>
                        </div>
                        <!-- Video List Column (Full width on small screens) -->
                        <div class="col-12 col-lg-4 pb-3">
                            <h3 class="pb-2">Select Video <i class="fas fa-play-circle"></i></h3>
                            <ul id="videoList" class="list-group text-center">
                                <!-- Video list items will be dynamically added here --> 
                            </ul>
                        </div>
                    </div>
            </div>
        </section>
        <!-- about -->
        <section class="bg-off-white">
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-4 mb-3">
                        <h3 class="mb-2">Samantha offers:</h3>
                        <ul class="in-brief-list">
                            <li class="mb-2"><i class="far fa-check-circle"></i> Bespoke packages to suit you.</li>
                            <li class="mb-2"><i class="far fa-check-circle"></i> Versatile & Professional musician</li>
                            <li class="mb-2"><i class="far fa-check-circle"></i> Vast repertoire covering all styles.</li>
                            <li class="mb-2"><i class="far fa-check-circle"></i> Happy to learn new songs for your booking.</li>
                            <li class="mb-2"><i class="far fa-check-circle"></i> Unique Arrangements of Pop, Rock, Classical & More.</li>
                            <li class="mb-2"><i class="far fa-check-circle"></i> Available U.K. wide and abroad.</li>
                            <li><i class="far fa-check-circle"></i> Book direcly with Samantha</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-12 col-lg-8">
                        <article>
                            <h3>Samantha: Exceptional Solo Cello for Weddings and Events</h3>
                            <p>Samantha, a gifted and experienced solo cellist, brings elegance and beauty to weddings and special events across South Wales, Cardiff, Bristol, the Cotswolds, and beyond. Specializing in live wedding music, Samantha tailors her repertoire to enhance each moment of your day, from the walk down the aisle to the reception and wedding breakfast, creating a unique, personalized musical experience.</p>
                            <p>Renowned for her artistry, versatility, and professional excellence, Samantha’s solo cello performances provide a touch of sophistication and charm that elevates any wedding. With a wide-ranging repertoire—from classical pieces to modern love songs—she ensures that your wedding soundtrack resonates with the ambiance and emotion of the day, crafting memories through music that will last a lifetime.</p>
                            <p>Contact Samantha today to explore how live cello music can add a captivating touch to your celebration, bringing an unforgettable and enchanting atmosphere to your wedding day.</p>
                            <a class="btn btn-primary" href="{{ url_for('about') }}">Learn More</a>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!-- reviews -->
        <section>
            <div class="container-fluid review-bg">
                <div class="overlay">
                    <div>
                        <h2 class="review-title text-center text-white pt-2 pb-2">Reviews</h2>
                    </div>
                    <div class="review-row pt-2">
                        <button class="btn btn-primary" id="prevBtn">&lt;</button>
                        <p class="text-white text-center" id="reviewText"></p>
                        <button class="btn btn-primary" id="nextBtn">&gt;</button>
                    </div>
                    <div>
                        <p class="text-warning text-center" id="reviewStars"></p>
                        <p class="text-white text-center" id="clientName"></p>
                        <!-- Separate stars with a line break -->
                    </div>
                </div>
            </div>
        </section>
        <!-- gallery -->
        <section>
            <h2 class="text-center">Gallery</h2>
            <div class="full-img" id="fullImgBox" style="display: none;">
                <img src="" alt="Full Image" id="fullImg">
                <span id="close" onclick="closeFullImg()">X</span>
            </div>
            <div class="img-gallery">
                {% for img_filename in image_paths %}
                    <img src="{{ url_for('static', filename='images/gallery/' + img_filename) }}" alt="Gallery Image" class="gallery-img" data-full-img="{{ url_for('static', filename='images/gallery/' + img_filename) }}">
                {% endfor %}
            </div>
        </section>
        
        
    </main>

{% endblock %}  

{% block js %}
    <script src="{{ url_for('static', filename='js/videos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/transparent-nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/homepage-reviews.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gallery.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const galleryImages = document.querySelectorAll('.gallery-img');
            const fullImgBox = document.getElementById("fullImgBox");
            const fullImg = document.getElementById("fullImg");
            
            // Add click event listeners to each gallery image
            galleryImages.forEach(function(img) {
                img.addEventListener('click', function() {
                    fullImg.src = img.dataset.fullImg;  // Use data attribute for the full image source
                    fullImgBox.style.display = "flex";   // Show the full image box with flex for centering
                });
            });
            
            // Close button functionality
            const closeBtn = document.getElementById("close");
            closeBtn.addEventListener('click', function() {
                fullImgBox.style.display = "none"; // Hide the full image box
            });
        });
        </script>
        
        

{% endblock %}


   