
    {% extends "base.html" %}
    {% block meta_description %}{{ meta_description }}{% endblock %}
    {% block title %}{{ title }}{% endblock %}
    {% block content %}
    <main>
        <div class="container-fluid" id="repertoire-banner">
        </div>

        <div class="container pt-5">
            <div class="row pb-5">
                <div class="col-12 text-center font-montserrat">
                    <h1>Sample Repertoire</h1>
                    <p>Want me to play something that's not listed? Just let me know. Requests are included in every booking!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul>
                        {% for song in songs %}
                            <li>
                                {{ song.title }} - {{ song.artist }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
