{% extends "base.html" %}
{% block content %}
    <main>
        <div class="container-fluid" id="faq-banner">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 pt-5">
                    <h2>
                        FAQs
                    </h2>
                    <p>
                        Here are some answers to frequently asked questions. 
                        If you can't find the answer you are looking for please 
                        <a href="contact.html">get in touch</a> and we will answer right away!
                    </p>
                </div>
            </div>
        </div>
        <div class="container mb-5">
            <div class="faq-section">
                {% for question, answer in faqs.items() %}
                    <div class="faq-item">
                        <h3>{{ question }}</h3>
                        <p>{{ answer }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}